{% extends "base.html" %}

{% block title %}Patient Signup{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm">
            <div class="card-header bg-success text-white text-center">
                <h4 class="mb-0">Patient Signup</h4>
            </div>
            <div class="card-body">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} py-2">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" name="full_name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" name="phone" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control" required>
                    </div>

                    <button class="btn btn-success w-100">Create Patient Account</button>
                </form>

                <p class="text-center mt-3 mb-0">
                    Already have an account?
                    <a href="{% url 'login' %}">Login</a>
                </p>

            </div>
        </div>

    </div>
</div>
{% endblock %}
