{% extends "base.html" %}

{% block title %}Edit Patient Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h5 class="mb-0">Edit Profile</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Date of Birth</label>
                        {{ form.dob }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        {{ form.gender }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Blood Group</label>
                        {{ form.blood_group }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        {{ form.phone }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        {{ form.address }}
                    </div>

                    <button class="btn btn-success w-100">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
